.navigation {
  background: $gray-800;
  height: 90px;
  position: relative;
  &::after {
    content: "";
    width: 50%;
    position: absolute;
    border-bottom: 1px solid $primary;
    bottom: 0;
    left: 0px;
  }
  &::before {
    content: "";
    width: 50%;
    position: absolute;
    border-bottom: 1px solid $secondary;
    bottom: 0;
    right: 0px;
  }
  &-logo {
    height: 42px;
  }
  &-collapse {
    position: absolute;
    z-index: 999;
    > li {
      height: 100%;
      width: 100%;
      background: $gray-800;
      &:hover {
        transition: 0.4s;
        background: $black;
      }
    }
  }
}
